In [17]:
import pandas as pd
import requests
import os
import json
from datetime import datetime
from dotenv import load_dotenv
from urllib.parse import quote_plus
from sqlalchemy import create_engine
load_dotenv()

ninja_key = os.getenv('NINJA_API_KEY')
user = quote_plus(os.getenv('REDSHIFT_USER'))
password = quote_plus(os.getenv('REDSHIFT_PASSWORD'))
host = os.getenv('REDSHIFT_HOST')
port = os.getenv('REDSHIFT_PORT')
database = os.getenv('REDSHIFT_DB')

In [10]:
def get_crypto_symbols():
    symbols = 'https://api.api-ninjas.com/v1/cryptosymbols'
    response = requests.get(symbols, headers={'X-Api-Key': ninja_key})
    if response.status_code == requests.codes.ok:
        return json.loads(response.text)['symbols']
    else:
        print("Error:", response.status_code, response.text)
        return None


def get_crypto_price(symbol):
    price_url = 'https://api.api-ninjas.com/v1/cryptoprice?symbol={}'.format(symbol)
    response = requests.get(price_url, headers={'X-Api-Key': ninja_key})
    if response.status_code == requests.codes.ok:
        symbol_ret =json.loads(response.text)['symbol']
        price_ret =json.loads(response.text)['price']
        return symbol_ret, price_ret
    else:
        print("Error:", response.status_code, response.text)
        return None

In [11]:
symbols = get_crypto_symbols()

In [12]:
crypto_prices = pd.DataFrame(columns=['symbol', 'price_USD', 'date'])
crypto_prices['symbol'] = symbols

In [14]:
for row in range(len(crypto_prices)):
    symbol = crypto_prices['symbol'][row]
    symbol_check,price = get_crypto_price(symbol)
    current_date = datetime.now().date()
    if symbol_check == symbol:
        crypto_prices.at[row,'price_USD'] = round(float(price),2)
        crypto_prices.at[row, 'date'] = current_date
    else:
        crypto_prices.at[row,'price'] = -1
        crypto_prices.at[row, 'date'] = current_date

crypto_prices

        symbol price_USD        date
0     1INCHUSD      0.32  2024-09-22
1    1INCHUSD4      0.57  2024-09-22
2    1INCHUSDT      0.28  2024-09-22
3      AAVEUSD      61.3  2024-09-22
4     AAVEUSD4     85.61  2024-09-22
..         ...       ...         ...
536    ZILUSD4      0.03  2024-09-22
537    ZILUSDT      0.01  2024-09-22
538     ZRXUSD       0.2  2024-09-22
539    ZRXUSD4      0.25  2024-09-22
540    ZRXUSDT      0.32  2024-09-22

[541 rows x 3 columns]

In [15]:
# Ensure you have all necessary variables defined: user, password, host, port, database, and schema.
connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"

# Create the engine using SQLAlchemy
engine = create_engine(connection_string)

In [16]:
# Save DataFrame to PostgreSQL database
crypto_prices.to_sql(name='crypto_prices', con=engine, schema='2024_tomas_fernando_campi_schema', if_exists='append', index=False)

541

In [20]:
datetime.now().date()

datetime.date(2024, 9, 27)

In [4]:
try:
    with engine.connect() as connection:
        print("Connection to Redshift successful!")
        # Example query to test connection
        result = connection.execute("SELECT current_date;")
        for row in result:
            print("Current date in Redshift:", row[0])
except Exception as e:
    print(f"Error connecting to Redshift: {e}")

Connection to Redshift successful!

/var/folders/c7/syrz3hl536zfk4dw6xptlb880000gn/T/ipykernel_57108/2936383414.py:5: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  result = connection.execute("SELECT current_date;")

Current date in Redshift: 2024-09-22

In [30]:
query = """
SELECT * from "2024_tomas_fernando_campi_schema".test;
"""

try:
    with engine.connect() as connection:
        print("Connection to Redshift successful!")
        # Example query to test connection
        result = connection.execute(query)
        for row in result:
            print(row)  # This will print each row as a tuple
except Exception as e:
    print(f"Error connecting to Redshift: {e}")

Connection to Redshift successful!
(1, 'Bitcoin', 'BTC', Decimal('21000.00000000'), 396000000000, datetime.datetime(2023, 9, 17, 8, 0))
(2, 'Ethereum', 'ETH', Decimal('1600.00000000'), 190000000000, datetime.datetime(2023, 9, 17, 8, 0))
(3, 'Cardano', 'ADA', Decimal('0.55000000'), 18300000000, datetime.datetime(2023, 9, 17, 8, 0))

In [33]:
engine

Engine(postgresql://2024_tomas_fernando_campi:***@redshift-pda-cluster.cnuimntownzt.us-east-2.redshift.amazonaws.com:5439/pda)

In [43]:

crypto_prices.to_sql(name='crypto_prices', con=engine, schema=schema, if_exists='append', index=False)

/var/folders/c7/syrz3hl536zfk4dw6xptlb880000gn/T/ipykernel_43778/1390348264.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  crypto_prices.to_sql(name='crypto_prices', con=engine, schema=schema, if_exists='append', index=False)

AttributeError: 'Engine' object has no attribute 'cursor'

In [ ]:
df_characters = pd.read_csv(csv_path + 'characters.csv')
df_quotes2 = pd.read_sql("SELECT * FROM pda_clases.star_wars_quotes", engine)

pattern = 'Skywalker'

df_skywalker_name = df_characters[df_characters['name'].str.contains(pattern, case=False)]
df_skywalker_desc = df_characters[df_characters['description'].str.contains(pattern, case=False)]

df_skywalker = pd.concat([df_skywalker_name, df_skywalker_desc], ignore_index=False)

df_skywalker = df_skywalker.drop_duplicates()

df_final = pd.merge(df_skywalker, df_quotes2, left_on='name', right_on='character_name')

df_final

In [ ]:
df_resume = df_final[["name", "gender", "homeworld", "quote", "source"]]

df_resume.to_sql(name='characters_resume', con=engine, schema='pda_clases', if_exists='append', index=False)

In [1]:
import requests
response = requests.get("https://dolarapi.com/v1/dolares/blue")
print(response.json())

{'moneda': 'USD', 'casa': 'blue', 'nombre': 'Blue', 'compra': 1160, 'venta': 1180, 'fechaActualizacion': '2024-10-12T14:59:00.000Z'}

In [9]:
import pandas as pd
pd.DataFrame([response.json()])

  moneda  casa nombre  compra  venta        fechaActualizacion
0    USD  blue   Blue    1160   1180  2024-10-12T14:59:00.000Z

In [5]:

from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

url = 'https://pro-api.coinmarketcap.com/v1/global-metrics/quotes/latest'
parameters = {
  'convert':'BTC',

}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '4275312a-b170-4637-8a85-25d2f090b921',
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
  print(data)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

{'status': {'timestamp': '2024-10-19T15:19:11.793Z', 'error_code': 0, 'error_message': None, 'elapsed': 14, 'credit_count': 1, 'notice': None}, 'data': {'active_cryptocurrencies': 9909, 'total_cryptocurrencies': 31799, 'active_market_pairs': 87153, 'active_exchanges': 753, 'total_exchanges': 9409, 'eth_dominance': 13.612995132389, 'btc_dominance': 57.553523380803, 'eth_dominance_yesterday': 13.59057802, 'btc_dominance_yesterday': 57.77660605, 'eth_dominance_24h_percentage_change': 0.022417112389, 'btc_dominance_24h_percentage_change': -0.223082669197, 'defi_volume_24h': 2890353292.4928274, 'defi_volume_24h_reported': 25191936618.336292, 'defi_market_cap': 65412030325.969864, 'defi_24h_percentage_change': -27.11342127184, 'stablecoin_volume_24h': 48161252287.41218, 'stablecoin_volume_24h_reported': 290165165905.39325, 'stablecoin_market_cap': 165554804363.789, 'stablecoin_24h_percentage_change': -31.09187012075, 'derivatives_volume_24h': 528091622244.2632, 'derivatives_volume_24h_reported': 542295457043.13153, 'derivatives_24h_percentage_change': -31.592646862735, 'quote': {'BTC': {'total_market_cap': 34348478.62548295, 'total_volume_24h': 801560.432588892, 'total_volume_24h_reported': 4393870.403065416, 'altcoin_volume_24h': 481112.70312592975, 'altcoin_volume_24h_reported': 2959797.310059971, 'altcoin_market_cap': 14579718.948815366, 'defi_volume_24h': 42340.92500833546, 'defi_volume_24h_reported': 369037.89648903755, 'defi_24h_percentage_change': -0.0003971858180009092, 'defi_market_cap': 958223.992156394, 'stablecoin_volume_24h': 705516.5113224316, 'stablecoin_volume_24h_reported': 4250643.532588831, 'stablecoin_24h_percentage_change': -0.000455466307378702, 'stablecoin_market_cap': 2425220.32671348, 'derivatives_volume_24h': 7736039.685200542, 'derivatives_volume_24h_reported': 7944112.347325171, 'derivatives_24h_percentage_change': -0.00046280221006346283, 'last_updated': '2024-10-19T15:16:00.000Z', 'total_market_cap_yesterday': 34270417.42717242, 'total_volume_24h_yesterday': 1124458.5209754768, 'total_market_cap_yesterday_percentage_change': 3.336761997269707e-06, 'total_volume_24h_yesterday_percentage_change': -0.00042066022063382355}}, 'last_updated': '2024-10-19T15:16:59.999Z'}}

In [6]:
data

{'status': {'timestamp': '2024-10-19T15:19:11.793Z',
  'error_code': 0,
  'error_message': None,
  'elapsed': 14,
  'credit_count': 1,
  'notice': None},
 'data': {'active_cryptocurrencies': 9909,
  'total_cryptocurrencies': 31799,
  'active_market_pairs': 87153,
  'active_exchanges': 753,
  'total_exchanges': 9409,
  'eth_dominance': 13.612995132389,
  'btc_dominance': 57.553523380803,
  'eth_dominance_yesterday': 13.59057802,
  'btc_dominance_yesterday': 57.77660605,
  'eth_dominance_24h_percentage_change': 0.022417112389,
  'btc_dominance_24h_percentage_change': -0.223082669197,
  'defi_volume_24h': 2890353292.4928274,
  'defi_volume_24h_reported': 25191936618.336292,
  'defi_market_cap': 65412030325.969864,
  'defi_24h_percentage_change': -27.11342127184,
  'stablecoin_volume_24h': 48161252287.41218,
  'stablecoin_volume_24h_reported': 290165165905.39325,
  'stablecoin_market_cap': 165554804363.789,
  'stablecoin_24h_percentage_change': -31.09187012075,
  'derivatives_volume_24h': 528091622244.2632,
  'derivatives_volume_24h_reported': 542295457043.13153,
  'derivatives_24h_percentage_change': -31.592646862735,
  'quote': {'BTC': {'total_market_cap': 34348478.62548295,
    'total_volume_24h': 801560.432588892,
    'total_volume_24h_reported': 4393870.403065416,
    'altcoin_volume_24h': 481112.70312592975,
    'altcoin_volume_24h_reported': 2959797.310059971,
    'altcoin_market_cap': 14579718.948815366,
    'defi_volume_24h': 42340.92500833546,
    'defi_volume_24h_reported': 369037.89648903755,
    'defi_24h_percentage_change': -0.0003971858180009092,
    'defi_market_cap': 958223.992156394,
    'stablecoin_volume_24h': 705516.5113224316,
    'stablecoin_volume_24h_reported': 4250643.532588831,
    'stablecoin_24h_percentage_change': -0.000455466307378702,
    'stablecoin_market_cap': 2425220.32671348,
    'derivatives_volume_24h': 7736039.685200542,
    'derivatives_volume_24h_reported': 7944112.347325171,
    'derivatives_24h_percentage_change': -0.00046280221006346283,
    'last_updated': '2024-10-19T15:16:00.000Z',
    'total_market_cap_yesterday': 34270417.42717242,
    'total_volume_24h_yesterday': 1124458.5209754768,
    'total_market_cap_yesterday_percentage_change': 3.336761997269707e-06,
    'total_volume_24h_yesterday_percentage_change': -0.00042066022063382355}},
  'last_updated': '2024-10-19T15:16:59.999Z'}}

In [17]:
market_cap = data['data']['quote']['total_market_cap']

{'DOGE': {'total_market_cap': 16142370891520.717,
  'total_volume_24h': 404453732737.9746,
  'total_volume_24h_reported': 2216498025091.021,
  'altcoin_volume_24h': 234721747355.71698,
  'altcoin_volume_24h_reported': 1433572005363.4216,
  'altcoin_market_cap': 6838280912657.872,
  'defi_volume_24h': 20661451135.065853,
  'defi_volume_24h_reported': 175778489937.03207,
  'defi_24h_percentage_change': -166.01986974332095,
  'defi_market_cap': 449090253984.4035,
  'stablecoin_volume_24h': 358134979339.86035,
  'stablecoin_volume_24h_reported': 2144319187005.6567,
  'stablecoin_24h_percentage_change': -166.81531203710847,
  'stablecoin_market_cap': 1142544677904.7,
  'derivatives_volume_24h': 3850298943711.934,
  'derivatives_volume_24h_reported': 3949125416874.0396,
  'derivatives_24h_percentage_change': -180.16570777189284,
  'last_updated': '2024-10-19T14:16:00.000Z',
  'total_market_cap_yesterday': 16084916398826.986,
  'total_volume_24h_yesterday': 519245807921.6477,
  'total_market_cap_yesterday_percentage_change': 2.4652806383475063,
  'total_volume_24h_yesterday_percentage_change': -152.58086991398068}}

In [22]:
from airflow.scripts.config import symbols

In [26]:
symbolsusdt = [symbol+'USDT' for symbol in symbols]

In [27]:
symbolsusdt

['BTCUSDT', 'ETHUSDT', 'DOGEUSDT', 'USDTUSDT']

In [18]:


from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest'
parameters = {
  'slug':'dogecoin'
  }
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '4275312a-b170-4637-8a85-25d2f090b921',
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
  print(data)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

{'status': {'timestamp': '2024-10-19T15:36:48.942Z', 'error_code': 0, 'error_message': None, 'elapsed': 26, 'credit_count': 1, 'notice': None}, 'data': {'74': {'id': 74, 'name': 'Dogecoin', 'symbol': 'DOGE', 'slug': 'dogecoin', 'num_market_pairs': 1083, 'date_added': '2013-12-15T00:00:00.000Z', 'tags': ['mineable', 'pow', 'scrypt', 'medium-of-exchange', 'memes', 'payments', 'doggone-doggerel', 'bnb-chain', 'ftx-bankruptcy-estate'], 'max_supply': None, 'circulating_supply': 146432996383.70523, 'total_supply': 146432996383.70523, 'is_active': 1, 'infinite_supply': True, 'platform': None, 'cmc_rank': 8, 'is_fiat': 0, 'self_reported_circulating_supply': None, 'self_reported_market_cap': None, 'tvl_ratio': None, 'last_updated': '2024-10-19T15:34:00.000Z', 'quote': {'USD': {'price': 0.14470215694923094, 'volume_24h': 2100766637.9074335, 'volume_change_24h': -5.3651, 'percent_change_1h': -0.46955558, 'percent_change_24h': 6.22185448, 'percent_change_7d': 29.36701943, 'percent_change_30d': 38.02251646, 'percent_change_60d': 41.30620081, 'percent_change_90d': 9.1569577, 'market_cap': 21189170425.26108, 'market_cap_dominance': 0.9047, 'fully_diluted_market_cap': 21189170425.26, 'tvl': None, 'last_updated': '2024-10-19T15:34:00.000Z'}}}}}

In [ ]:
crypto_ids = {'BTC':'', 'ETH':'', 'DOGE':'74'}

In [31]:
market_cap = data['data']['74']['quote']['USD']['market_cap']
cmc_dominance = data['data']['74']['quote']['USD']['market_cap_dominance']
cmc_rank = data['data']['74']['cmc_rank']
is_fiat = data['data']['74']['is_fiat']

In [32]:
cmc_dominance

0.9047